<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="card-header">

    </div>
    <div class="card-block"><br><br><br>
        <center>       <h3> <strong>Do you want Delete ?</strong></h3>

            <br><br><br>
            <button type="submit" class="btn btn-sm btn-primary" ng-click="deleted()"><i class="fa fa-dot-circle-o"></i> Delete
            </button>
            <button type="reset" class="btn btn-sm btn-danger" ng-click="canceldelete()"><i class="fa fa-ban"></i>Cancle</button>
    <br><br><br>
</center></div>
</div>
</body>
</html>