<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Customer Entry</h3>
</div>
<div class="modal-body" id="modal-body">
    <fieldset>

        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
                <label class="col-md-3 form-control-label">Username</label>
                <div class="col-md-9">
                    <input type="text" name="CName" list="CName" class="form-control" placeholder="Enter name"
                           ng-model="formData.CName" required>
                    <datalist id="CName" ng-repeat="c in datas" >
                        <option value="{{c.CName}}">
                    </datalist>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-input">Profile</label>
                <div class="col-md-9">
                    <input type="file" id="file-input" name="file1" file-model="myFile" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-control-label">Parent User</label>
                <div class="col-md-9">
                    <input type="text" name="CPName" list="CPName" class="form-control" placeholder="Enter name"
                           ng-model="formData.CPName" required>
                    <datalist id="CPName" ng-repeat="c in datas" >
                        <option value="{{c.CPName}}">
                    </datalist>
                </div>
            </div>


        </form>

    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="updated()">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

</div>
